html {
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color__grey--light);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color__grey);
    border-radius: 20px;
  }
}
body {
  position: relative;
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  font-family: TT Commons, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 24px;
  color: var(--color__black);
  background-color: var(--bg-color-white);
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--padding-l) * 2 + 1216px);
  padding: 0 var(--padding-l);
}


.footer {
  margin-top: auto;
}

@media (max-width: $breakpoint-s) {
  .container {
    padding: 0 var(--padding-s);
  }
}

.pseudo-arrow {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%) rotate(-45deg);
    width: 25%;
    height: 25%;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  &::after {
    transform: translate(-100%, -50%) rotate(-45deg);
  }
}