.white {
  color: var(--color__white);
}

.black {
  color: var(--color__black);
}

.dark {
  color: var(--color__dark);
}

.grey {
  color: var(--color__grey);
}

.grey--light {
  color: var(--color__grey--light);
}

.green--light {
  color: var(--color__green--light);
}

.purple {
  color: var(--color__purple);
}

.pink {
  color: var(--color__pink);
}

.blue--dark {
  color: var(--color__blue--dark);
}