:root {
  --color__white: #fff;
  --color__black: #010101;
  --color__dark: #232323;

  --color__grey: #868686;
  --color__grey--light: #F3F3F3;

  --color__green--light: #9EFFBF;
  --color__purple: #7941A7;
  --color__pink: #E2BEFF;
  --color__blue--dark: #1059C8;

  --bg-color-white: #fff;

  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;

  --padding-s: 20px;
  --padding-m: 40px;
  --padding-l: 112px;
}
