.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 16px 32px 16px 32px;
  border-radius: 999px;
  background: var(--color__black);
  color: var(--color__white);
}