.switch-language {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  height: 52px;
  border: 2px solid #0000001A;
  border-radius: 50%;
  cursor: pointer;

  & img {
    width: 24px;
    height: 24px;
  }
}